Dear {{ subscription.person }},

Welcome to the North Western European Regional Contest 2013. Registration for the contest is complete and your team is officially accepted to the contest. We are looking forward of welcoming you in Delft. On Saturday there is a variation of excursions and activities available in the afternoon.
Please check http://2013.nwerc.eu/{% url 'contestants:subscribe' subscription.person.person_id subscription.key %} to select your excursion.

If you are not attending the NWERC, or don't want to have some free time to explore Delft by yourself please don't select an option in the form. If you change your mind, you can change your choice by the same link again. For more information on the contest you can check our website on http://2013.nwerc.eu/.

We want to inform that in contrast with previous year, this years contest is run on laptops. More information please check the system page on the website for specs and specification of the software installed on the laptops. We will provide you with a mouse, but not with a keyboard. You are allowed to bring your own keyboard.

Please make sure that you supplied any dietary needs or allergies to us on. During the weekend we will have food and drinks and we want try to have enough for everybody matching their diet. Please fill in on the above link if you have a special diet as vegetarian or vegan, or have allergies such as diary products, nuts or eggs. Don't hesitate to contact us directly if there are special precautions we have to take.

{% if subscription.person.is_coach %}We have organized for a preferred hotel offer, where a discount is available at the hotels. More details on these are available at https://2013.nwerc.eu/en/location/accomodation/.
If you want to make use of these offers please use the following information:
For WestCord hotel, either via mail at delft@westcordhotels.nl or call them at +31-15-8889010 and refer to the group name of "North Western European Regional Contest (NWERC)."

{% endif %}If you have any question according registration, accommodation or organization please do not hesitate to contact us.

On behalf of the organization team,

Thomas Verwoerd
Contest Director NWERC 2013