Dear {{subscription.person}},

Some time ago you got a welcome mail to the NWERC. In this mail was a link to the Saturday afternoon activity registration page. So far we have not got an excursion selection from you. If you are not attending the NWERC, or do want some free time to explore Delft by yourself you still don't have to select an activity and you can ignore this email.

Please check http://2012.nwerc.eu{% url contest:subscribe subscription.person.person_id subscription.key %} to select your excursion.

If you have any question according registration, accommodation or organization please do not hesitate to contact us.

On behalf of the organization team,

Thomas Verwoerd
Contest Director NWERC 2012