{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    {% render_block "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <title>{% block page-title %}{% endblock %}BAPC 2016</title>
</head>
<body>
<div id="wrap">
    <div id="head">
        <img src="{{ STATIC_URL }}img/logo_bapc_2016_background.jpg" style="height: 190px"/>

        <!-- <h1>Northwestern European Regional Contest</h1> -->

        <!-- <h2>November 22-24 2013</h2> -->

    </div>

    <ul id="menu">
        {% show_menu 0 1 1 1 %}
    </ul>

    <div id="content">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>

<div id="sponsors">
    <h2>Premium sponsors</h2>
    <p>
        <a href="http://www.ing.nl/"><img class="main" src="{{ STATIC_URL }}img/ing.jpg"/></a>
        <a href="http://www.flowtraders.com/"><img class="main" src="{{ STATIC_URL }}img/flow.jpg"/></a>
        <a href="http://www.prodrive.com/"><img class="main" src="{{ STATIC_URL }}img/prodrive.jpg"/></a>
    </p>
    <h2>Event sponsors</h2>
    <p>
        <a href="http://www.quintiq.com/"><img src="{{ STATIC_URL }}img/quintiq.jpg"/></a>
    <!-- <a href="http://www.ovsoftware.nl/"><img style="max-width: 350px" src="{{ STATIC_URL }}img/ovsoftware.jpg"/></a> -->
    </p>
</div>
{% render_block "js" %}
</body>
</html>
