{% extends 'base.html' %}
{% load imagekit %}

{% block page-title %}Teams &mdash; {% endblock %}

{% block content %}
    <table>
        <tr>
            <th colspan="2">Institution</th>
            <th>Teamname</th>
            <th>Status</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td><img src="{{ STATIC_URL }}{{ object.institution.country.get_flag_url }}"
                         alt="{{ object.institution.country.name }}"/></td>
                <td>{% if object.institution.logo %}
                    {% thumbnail '24x24' object.institution.logo %}{% endif %} {{ object.institution.name }}</td>
                <td>{{ object.name }}</td>
                <td style="text-align:center;">{% spaceless %}
                    {% if object.status == 'A' %}
                      <i class="fa fa-check"></i>
                    {% else %}{% if object.status == 'P' %}
                      <i class="fa fa-hourglass"></i>
                    {% else %}
                      <i class="fa fa-ban"></i>
                    {% endif %}{% endif %}
                {% endspaceless %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
